<!DOCTYPE html>
<html lang="en">
  <body>
      <footer id="footer">
          <span>Upside Download "File Uploader" App by <a href="https://github.com/andrewtran28/file-uploader">minglee</a>; Passwords are encrypted using <a href="https://www.npmjs.com/package/bcryptjs">bcryptjs</a>; This site uses cookies to save login credentials</span>
      </footer>
  </body>
</html>